@model  IEnumerable <TrainTicketBookingMVC.Entity.Train>

@{
    ViewBag.Title = "Train";
}

@Html.ActionLink("Create New Details", "Create")<br />

@if (TempData["details"] != null)
{
    @Html.Label((string)TempData["details"])
}
<h2>Train</h2>

<table border="1">
    <tr>
        <td>Train Name</td>        
    </tr>
    @foreach (TrainTicketBookingMVC.Entity.Train item in @Model)
    {
        <tr>
            <td>
                @item.TrainName
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TrainNo })
                @Html.ActionLink("Delete", "Delete", new { id = item.TrainNo})
            </td>
        </tr>
    }
    @foreach(TrainTicketBookingMVC.Entity.Train item in (IEnumerable<TrainTicketBookingMVC.Entity.Train>)ViewData["Details"])
    {
        <tr>
            <td>
                @item.TrainNo
            </td>
            <td>
                @item.TrainName
            </td>
        </tr>
    }

    @foreach (TrainTicketBookingMVC.Entity.Train item in ViewBag.details)
    {
        <tr>
            <td>
                @item.TrainNo
            </td>
            <td>
                @item.TrainName
            </td>
        </tr>
    }

    @foreach (TrainTicketBookingMVC.Entity.Train item in (IEnumerable<TrainTicketBookingMVC.Entity.Train>)TempData["Details"])
    {
        <tr>
            <td>
                @item.TrainNo
            </td>
            <td>
                @item.TrainName
            </td>
        </tr>
    }


</table>